<div id="homeContent" class="content">
    <p><h3>Welcome <%= fullName %></h3></p>
    <p>You have <b>0</b> new messages</p>
    <iframe src="http://www.nbs.sk/sk/statisticke-udaje/kurzovy-listok/denny-kurzovy-listok-ecb"></iframe>
</div>
<div id="accountsContent" class="content">
    This is accountsContent
</div>
<div id="transactionsContent" class="content">
    This is transactionsContent
</div>
<div id="loansContent" class="content">
    This is loansContent
</div>
<div id="cardsContent" class="content">
    This is cardsContent
</div>
<div id="loadingScreen" class="visibleContent">
    <div>
        <img src="/images/hex-loader.gif">
        <h1>Loading</h1>
    </div>
</div>
<script src="/javascripts/main.js"></script>