<h2><%= title %></h2>
<ul class="tabs" >
  <li><a id="home" class="selectedTab">Home</a></li>
  <li><a id="accounts">Accounts</a></li>
  <li><a id="transactions">Transactions</a></li>
  <li><a id="loans">Loans</a></li>
  <li><a id="cards">Cards</a></li>
  <li id="logout"><a href="/">Logout</a></li>
</ul>