<h2><%= title %></h2>
<ul>
  <li><a class="selectedTab">Home</a></li>
  <li><button id="accounts">Accounts</button></li>
  <li><a>Transactions</a></li>
  <li><a href="contact.asp">Loans</a></li>
  <li><a href="about.asp">Cards</a></li>
  <li id="logout"><a href="about.asp">Logout</a></li>
</ul> 