nav {
    position: fixed;
    top: 0;
    width: 70%;
    background-color: white;
    border: 1px solid silver;
}
nav h2{
    margin-left: 5%;
    color: silver;
    cursor: default;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
nav li {
    float: left;
    width: 175px;
}
nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}
nav li a:hover {
    background-color: #f2f2f2;
}
nav li a.selectedTab {
    background-color: #cccccc;
}
#logout {
    float: right;
}
#logout a:hover {
    background-color: #111111;
    color: #eeeeee;
}